.header {
    height: 80px;
}

.logo-white {
    height: 51px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.navigation__links {
    display: flex;
    gap: 45px;
    align-items: center;
}

.navigation__links li a {
    color: rgb(49, 31, 9);
    font-size: 14px;
}

.navigation__links li:first-child a {
    color: rgb(255, 138, 0);
}

.navigation__actions {
    display: flex;
    align-items: center;
    /* gap: 25px; */
}

.navigation__actions img {
    height: 24px;
    width: 24px;
}

.navigation__actions figure {
    height: 50px;
    width: 50px;
    background-color: rgb(236, 240, 241);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}
