.menu-section__container {
    padding: 80px;
}

.menu-section__container h2 {
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    color: rgb(49, 31, 9);
    margin-bottom: 50px;
}

.menu-section__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu-section__meals {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.menu-section__price {
    font-size: 25px;
    line-height: 38px;
    color: rgb(49, 31, 9);
    font-weight: 600;
}

.card {
    width: calc((100% - 80px) / 3);

    padding: 35px 37px;
    background-color: rgba(208, 204, 199, 0.2);
    border-radius: 70px;
}

.card__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.card__title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: rgb(89, 68, 43);
    text-align: center;
    margin-bottom: 30px;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Reservation Section */

#reservation-section {
    background-color: rgba(255, 244, 231, 0.4);
}

.reservation-section__container {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    width: 100%;
    height: auto;
}

.reservation-section__right {
    width: 45%;
}

.reservation-section__right h2 {
    font-size: 60px;
    line-height: 70px;
    color: rgb(49, 31, 9);
    margin-bottom: 50px;
}

.reservation-section__right h2 span {
    color: rgb(255, 138, 0);
}

.reservation-section__right p {
    color: rgb(92, 69, 41);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}
