/* Chefs Section */
#chefs-section {
    text-align: center;
}
.chefs-section__container {
    padding: 80px;
}
.chefs-section__container h2 {
    font-size: 60px;
    line-height: 70px;
    color: rgb(49, 31, 9);
    margin-bottom: 50px;
}
.chefs-section__container h2 span {
    color: rgb(255, 138, 0);
}

.chefs-section__chefs {
    display: flex;
    gap: 40px;
    margin: 80px;
}

.chefs-section__chef {
    width: calc((100% - 80px) / 3);
}

.chefs-section__chef img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(196, 196, 196);
}

.chefs-section__chef:nth-child(2) img {
    background-color: rgb(255, 138, 0) 33;
}

.chefs-section__chef:last-child img {
    background-color: rgba(157, 101, 66, 0.2);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: rgb(49, 31, 9);
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
}

.chefs-section__chef p {
    color: rgb(160, 141, 118);
    font-size: 25px;
    line-height: 50px;
    font-weight: 400;
}
