/* Hero Section */

.hero-section__container {
    /* padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px; */
    padding: 80px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__right {
    width: 50%;
    height: max-content;
}

.hero-section__img {
    width: 100%;
    height: auto;
}

.hero-section__left span {
    display: block;
    width: max-content;
    margin-bottom: 24px;
    background-color: rgb(255, 138, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 123px;
    padding: 5px 20px;
}

.hero-section__heading {
    margin-bottom: 24px;
    color: rgb(49, 31, 9);
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.hero-section__description {
    margin-bottom: 50px;
    color: rgb(92, 69, 41);
    font-size: 20px;
}

.hero-section__cta button:first-child {
    margin-right: 12px;
}
